{% extends "blog/base.html" %} {% block title %} {% endblock %} {% block content %}

<div class="main-content">
	<div class="container mt-7">
		<!-- Table -->
		<h2 class="mb-5">Programa de Afiliados</h2>
		<div class="row">

			<div class="col">
				<div class="card shadow">
					<div class="card-header border-0">
						<h3 class="mb-0">Lista de Afiliados</h3>
					</div>
					<div class="table-responsive">
						<table class="table align-items-center table-flush">
							<thead class="thead-light">
								<tr>
									<th scope="col">Logo</th>
									<th scope="col">Empresa</th>
									<th scope="col">Comissão</th>
									<th scope="col">Descrição</th>
									<th scope="col">Site do programa</th>

								</tr>
							</thead>
							<tbody>

								{% for affiliate in get_affiliate %}

								<tr>
									<th scope="row">
										<div class="media align-items-center">
											<a href="{{affiliate.website_affiliate}}" class="avatar rounded-circle mr-3">
												<img src="{{affiliate.photo_affiliate.url}}">
                        </a>
                        <div class="media-body">
                          <span class="mb-0 text-sm"></span>
                        </div>
                      </div>
                    </th>
                    <td>
                   {{affiliate.name_affiliate}}
                    </td>
                    <td>
                      <span class="badge badge-dot mr-4">
                        <i class="bg-warning"></i> 
                         {{affiliate.commission_affiliate}}
                   
                      </span>
                    </td>
                    <td>
                      {{affiliate.category_affiliate}}
                    </td>
                    <td>
                      <a href="{{affiliate.website_affiliate}}"><span class="badge badge-dot mr-4">
                        <i class="bg-warning"></i> 
                       {{affiliate.website_affiliate}} </span>
                    </td>
                    
                  </tr>

{% endfor %}

                </tbody>
              </table>
            </div>


{% endblock %}