

{% extends "blog/base.html" %}
{% block title %} meu blog {% endblock %}

{% block content %}



<div class="container">
  
   <article>
  <div class="container">
    
    <div class="card-columns">

      {% for post in post_list %}
      <div class="card">
        <a href="{{post.get_absolute_url}}">
        <img class="card-img-top" src="{{ post.photo_title.url }}" alt="">
        <div class="card-body">
          <h1 class="card-title">{{post.title}}</h1>
            </a>
          <p class="card-text"><small class="text-muted">
            {{post.body1 | truncatewords:35}} ...
          </p></small>
          <p class="card-text"><small class="text-muted"><i class="fas fa-eye"></i><i class="far fa-user"></i> <i class="fas fa-calendar-alt"></i><p> {{post.created}} </p></small></p>
      </div>
      
      </div>
{% endfor %}
  </div>
</div>
</article>

{% endblock %}

 







